@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body{
    height: 100%;
}

body{
    background-color: hsl(233, 47%, 7%);
    color: #fff;
    margin: 20px;
}

.container{
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.img{
    background-image: url(./images/image-header-mobile.jpg);
    height: 320px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.overlay{
    height: 100%;
    background-color: rgba(117, 63, 151, 0.6);
}

.content-box{
    padding: 35px 35px 0 35px;
    font-family: "Inter" , sans-serif;
    
}

h2 span {
    color: #aa5cdb;
 
}

p{
    color:  hsla(0, 0%, 100%, 0.6);
    margin: 20px 0;
    font-size: 13px;
    line-height: 1.6;
}

ul li{
    margin: 25px 0;
    font-family: "Lexend Deca", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    text-transform: uppercase;
}

ul li span{
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.4rem;
    display: block;
    font-weight: 700;
    text-transform: lowercase;
}

@media screen and (min-width: 768px) {
    html,
    body 
    {
      height: calc(100% - 20px);
    }

    body 
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }
    .img,
    .content-box {
      width: 400px;
    }
    .img 
    {
      height: 100%;
      background-size: cover;
      background-image: url(./images/image-header-desktop.jpg);
      background-position: top;
    }
    .content-box 
    {
      text-align: start;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 50px 70px 50px 50px;
    }

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 90%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }


